html {
	font-size: 16px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	width: clamp(300px, 90%, 400px);
}

main {
	width: clamp(300px, 90%, 400px);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
